@import 'tailwindcss';

.movie{
  width: fit-content;
  overflow: hidden;
  position: relative;
  width:20vw;
  margin:2vw 2vw;
  transition: width 100ms ease, height 100ms ease, margin 100ms ease, max-width 100ms ease;
}

.movie:hover{
  width:22vw;
  margin: 0vw 1vw;
}

@media only screen and (min-width:1400px) {
  .movie{
    width:15vw;
    margin:2vw 2vw;
  }

  .movie:hover{
    width:17vw;
    margin: 0vw 1vw;
  }
}

.movie-detail{
  position: absolute;
  padding: 0.2vw;
  margin: 0.2vw;
  border-radius: 0.5rem;
}

.movie-name{
  top: 0.4vw;
  left: 0;
}

.movie-rating{
  bottom: 0.4vw;
  left: 0;
}

.movie-date{
  left: 0;
  bottom: 10%;
}

.movie:hover .movie-detail{
  text-decoration: underline;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.3);
}

.movie:hover .movie-img{
  filter:sepia(30%);
}